<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> <strong>Job Production </strong> 
            </div>
            <!-- <form [formGroup]="partyForm"> -->
            <form [formGroup]="jobProductionForm">
            <div class="card-body">
               
                        <div class="row">
                            <div class="col-md-3"> 
                                <div class="form-group">
                                    <label>Id</label>
                                    <input class="form-control" formControlName="id"  placeholder="New..">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Start Time</label>
                                    <input type="time" class="form-control" formControlName="STime"  placeholder="" required>
                                </div>
                            </div>
        
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Lunch</label>
                                    <input type="time" class="form-control" formControlName="Lunchtime"  placeholder="" required>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>End Time</label>
                                    <input type="time" class="form-control" formControlName="EndTime"  placeholder="" required>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="date" class="form-control" formControlName="Date" (change)="GetData($event)" placeholder="" required>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Lunch Time</label>
                                    <input type="time" class="form-control" formControlName="LunTime"  placeholder="Mobile No 1.." required>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Employee Name</label>
                                    <!-- <input class="form-control" formControlName="Employeeid"  placeholder="Employee Name.."> -->
                                    <ngx-select-dropdown formControlName="Employeeid" [multiple]="false" [disabled]="processBol" [config]="config1" [options]="EmpData" value="id"></ngx-select-dropdown>

                                </div>
                            </div>
                 
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Process</label>
                                    <!-- <select class="form-control" formControlName="process" required>
                                        <option selected disabled>Select Process</option>
                                        <option value="1">Process 1</option>
                                        <option value="2">Process 2</option>
                                    </select> -->
                                    <ngx-select-dropdown formControlName="process" (change)="CheckData($event)"[multiple]="false" [disabled]="processBol" [config]="config" [options]="processData" value="id"></ngx-select-dropdown>

                                </div>
                            </div>

                        </div>

               
            </div>


        </form>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> <strong>Records</strong>
            </div>
            <div class="card-body" style="padding: 5px;">
                <div class="row">
                    <div class="col-md-6">
                        <div style="overflow-x: scroll;">
                            <table class="table table-bordered" style="margin: 0;">
                                <thead>
                                    <tr>
                                        <th>Short</th>
                                        <th>Job Name</th>
                                        <th>Size</th>
                                        <th>Qty</th>
                                        <th>Order Dt.</th>
                                        <th>Delivery Dt.</th>
                                        <th>Process Name</th>
                                        <th>Process Time</th>
                                        <th>Assign Qty</th>
                                        <th>Assign Hours</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of JobArray;let i = index">
                                        <td>
                                            <span>
                                            <i class="fa fa-angle-double-right" style="color:red;" aria-hidden="true"(click)="assignData(data)"></i>
                                            <i class="fa fa-pencil" *ngIf="!data.editable" style="color:blue;margin-left:15px" aria-hidden="true"(click)="editDomain(data)"></i>
                                            <i class="fa fa-floppy-o" *ngIf="data.editable" style="color:green;margin-left:5px" aria-hidden="true"(click)="editDomain(data)"></i>
                                            </span>
                                        </td>
                                        <td>{{data.JobName}}</td>
                                        <td>{{data.Size}}</td>
                                        <td>{{data.Qty}}</td>
                                        <td>{{data.orderDate}}</td>
                                        <td>{{data.deliveryDate}}</td>
                                        <td>{{data.processName}}</td>
                                        <td>{{data.time}}</td>
                                        <td>
                                            <span *ngIf="!data.editable">{{data.qty}}</span>
                                            <input type="text" class="form-control" [(ngModel)]="data.qty" *ngIf="data.editable"/>
                                        </td>
                                        <td>
                                            <span *ngIf="!data.editable">{{data.hours}}</span>
                                            <input type="text" class="form-control" [(ngModel)]="data.hours" *ngIf="data.editable"/>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div style="overflow-x: scroll;">
                            <table class="table table-bordered" style="margin: 0;">
                                <thead>
                                    <tr>
                                        <th>Job Name</th>
                                        <th>Art No</th>
                                        <th>Size</th>
                                        <th>Qty</th>
                                        <th>Process Name</th>
                                        <th>Total Time</th>
                                        <!-- <th>Requirment</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of JobWorkArray">
                                        <td>{{data.JobName}}</td>
                                        <td>{{data.art_no}}</td>
                                        <td>{{data.Size}}</td>
                                        <td>{{data.qty}}</td>
                                        <td>{{data.processName}}</td>
                                        <td>{{data.hours}}</td>
                                        <!-- <td>Colouring</td> -->
                                    </tr>

                                    <!-- <tr>
                                        <td>Hitting</td>
                                        <td>Art-456</td>
                                        <td>12 Hte</td>
                                        <td>89</td>
                                        <td>Hit Process</td>
                                        <td>119 Hr</td>
                                        <td>Hitting</td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer" style="text-align: center;">
                <button class="btn btn-sm btn-primary"  type="submit" [disabled]="!jobProductionForm.valid" (click)="submitData()"><i class="fa fa-dot-circle-o"></i> Save</button>
            <!-- eData()"><i class="fa fa-dot-circle-o"></i>Update</button> -->

                <button class="btn btn-sm btn-danger" type="reset" ><i class="fa fa-ban"></i> Cancel</button>
            <div>
        </div>
    </div>
<!-- 
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> <strong>Records</strong>
            </div>
            <div class="card-body" style="padding: 5px;">
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Employee Name</label>
                                    <select class="form-control"  required>
                                        <option selected disabled>Select Employee</option>
                                        <option value="1">Employee 1</option>
                                        <option value="2">Employee 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Total Required Time</label>
                                    <input class="form-control"   placeholder="10..">
                                </div>
                            </div>
                        </div>

                        <div style="overflow-x: scroll;">
                            <table class="table table-bordered" style="margin: 0;">
                                <thead>
                                    <tr>
                                        <th>Short</th>
                                        <th>Job Name</th>
                                        <th>Size</th>
                                        <th>Qty</th>
                                        <th>Order Dt.</th>
                                        <th>Delivery Dt.</th>
                                        <th>Process Name</th>
                                        <th>Process Time</th>
                                        <th>Art</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>GCY-124</td>
                                        <td>Filtering</td>
                                        <td>56 GC</td>
                                        <td>112</td>
                                        <td>12/12/2019</td>
                                        <td>29/12/2019</td>
                                        <td>Anodise</td>
                                        <td>20 Hr</td>
                                        <td>Yes</td>
                                    </tr>

                                    <tr>
                                        <td>LMK-052</td>
                                        <td>Dispatching</td>
                                        <td>22 DP</td>
                                        <td>568</td>
                                        <td>03/09/2019</td>
                                        <td>25/11/2019</td>
                                        <td>Material</td>
                                        <td>89 Hr</td>
                                        <td>No</td>
                                    </tr>

                                    <tr>
                                        <td>PCK-124</td>
                                        <td>Packaging</td>
                                        <td>63 KH</td>
                                        <td>354</td>
                                        <td>08/04/2019</td>
                                        <td>13/06/2019</td>
                                        <td>Boxing</td>
                                        <td>96 Hr</td>
                                        <td>Yes</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
             
                </div>
            </div>
        </div>
    </div> -->



   
</div>


