<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i><strong>Raw Material Master</strong> 
                </div>
                <form [formGroup]="rawMaterialForm">
                    <div class="card-body">
        
                            <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row"> 
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                        <label>Item Code</label>
                                                        <input class="form-control"  formControlName="id"  placeholder="Item Code.." readonly>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                        <label>Item Name *</label>
                                                        <input class="form-control" formControlName="itemName"   placeholder="Item Name..">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                            <label>Select Photo</label>
                                            <input class="form-control" id="file-input" name="file-input" type="file">
                                            <br>
                                            Image Preview
                                    </div>
                            </div>


                        
                                <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Item Type * </label>
                                                <select class="form-control" formControlName="itmeType" required>
                                                    <option value="0" selected disabled>Select Type</option>
                                                    <option value="1">Val 1</option>
                                                    <option value="2">Val 2</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Unit *</label>
                                                <select class="form-control" formControlName="unit" required>
                                                        <option value="0" selected disabled>Select Unit</option>
                                                        <option *ngFor="let data of unitData" value="{{data.id}}">{{data.unit}}</option>
                                                    </select>
                                            </div>
                                        </div>
                
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>HSN </label>
                                                <input class="form-control" formControlName="HSN" placeholder="HSN.." > 
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Used In *</label>
                                                    <select class="form-control" formControlName="Used_in" required>
                                                        <option value="0" selected disabled>Select Type</option>
                                                        <option value="1">Val 1</option>
                                                        <option value="2">Val 2</option>
                                                    </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Category *</label>
                                                <select class="form-control" formControlName="category" required>
                                                    <option value="0" selected disabled>Select Type</option>
                                                    <option value="1">Val 1</option>
                                                    <option value="2">Val 2</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Weight *</label>
                                                <input class="form-control" formControlName="weight" placeholder="Weight.." > 
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Sq Feet *</label>
                                                <input class="form-control" formControlName="feet" placeholder="Sq Feet.." > 
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Purchase Rate</label>
                                                <input class="form-control" formControlName="pur_rate" placeholder="Purchase Rate.." > 
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Sale Rate</label>
                                                <input class="form-control" formControlName="sale_rate" placeholder="Sale Rate.." > 
                                            </div>
                                        </div>
                                              
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Op Stock</label>
                                                <input class="form-control" formControlName="op_stock" placeholder="Op Stock.." > 
                                            </div>
                                        </div>
                                
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Thinkness</label>
                                                <input class="form-control" formControlName="thinkness" placeholder="Thinkness.." > 
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Min Level</label>
                                                <input class="form-control" formControlName="minLevel" placeholder="Min Level.." > 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Max Level</label>
                                                    <input class="form-control" formControlName="maxLevel" placeholder="Max Level.." > 
                                                </div>
                                            </div>
                            
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>CGST %</label>
                                                    <input class="form-control" formControlName="cgst"  placeholder="CGST..">
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>SGST %</label>
                                                    <input class="form-control" formControlName="sgst"  placeholder="SGST..">
                                                </div>
                                            </div>
                                        
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>IGST %</label>
                                                    <input class="form-control" formControlName="igst"  placeholder="IGST..">
                                                </div>
                                            </div>
                                        
                                    </div>


                        
                    </div>
        
                    <div class="card-footer">
                        <button *ngIf="submitShow" class="btn btn-sm btn-primary" type="submit" [disabled] = "!rawMaterialForm.valid" (click)="submitData()"><i class="fa fa-dot-circle-o"></i> Save</button>
                        <button *ngIf="updateShow" class="btn btn-sm btn-primary" type="submit" [disabled] = "!rawMaterialForm.valid" (click)="updateData()"><i class="fa fa-dot-circle-o"></i> Update</button>

                        <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    
    
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> <strong> Records </strong>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Item Code</th>
                                <th>Item Name</th>
                                <th>Type</th>
                                <th>Unit</th>
                                <th>HSN</th>
                                <th>Used In</th>
                                <th>Category</th>
                                <th>Weight</th>
                                <th>Sq.Feet</th>
                                <th>Purchase Rate</th>
                                <th>Sale Rate</th>
                                <th>Op Stock</th>
                                <th>Thinkness</th>
                                <th>Min Level</th>
                                <th>Max Level</th>
                                <th>CGST</th>
                                <th>SGST</th>
                                <th>IGST</th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of rawMaterialData;let i = index;">
                                <td>{{data.i}}</td>
                                <td>{{data.itme_name}}</td>
                                <td>{{data.item_type}}</td>
                                <td>{{data.unit}}</td>
                                <td>{{data.hsn}}</td>
                                <td>{{data.used_in}}</td>
                                <td>{{data.category}}</td>
                                <td>{{data.weight}}</td>
                                <td>{{data.feet}}</td>
                                <td>{{data.pur_rate}}</td>
                                <td>{{data.sale_rate}}</td>
                                <td>{{data.op_stock}}</td>
                                <td>{{data.thinkness}}</td>
                                <td>{{data.minLevel}}</td>
                                <td>{{data.maxLevel}}</td>
                                <td>{{data.cgst}}</td>
                                <td>{{data.sgst}}</td>
                                <td>{{data.igst}}</td>
                                <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                            </tr>
                            
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    
    
    
       
    </div>
    
    
    