<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Machine Master</strong> 
            </div>
            <div class="card-body">

                    <div class="row">
                            <div class="col-sm-6">
                                    <div class="form-group">
                                            <label>Machine No.</label>
                                            <input class="form-control"  name="" placeholder="Machine No..">
                                    </div>
                                    <div class="form-group">
                                            <label>Machine Name *</label>
                                            <input class="form-control"  name="" placeholder="Machine Name..">
                                    </div>
                            </div>
                            <div class="col-sm-6">
                                    <label>Select Photo</label>
                                    <input class="form-control" id="file-input" name="file-input" type="file">
                                    <br>
                                    Image Preview
                            </div>
                    </div>

                

                    <div class="form-group">
                        <label>Description </label>
                        <input class="form-control"  name="" placeholder="Description..">
                    </div>
                    <div class="form-group">
                        <label>Make </label>
                        <input class="form-control"  name="" placeholder="Make..">
                    </div>
                    <div class="form-group">
                        <label>Capacity </label>
                        <input class="form-control"  name="" placeholder="Capacity..">
                    </div>
                    <div class="form-group">
                        <label>Process </label>
                        <select class="form-control" formControlName="process_place" required>
                            <option value="0" selected disabled>Select Process</option>
                            <option value="1">Val 1</option>
                            <option value="2">Val 2</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Purchase Date</label>
                                <input class="form-control" id="date-input" name="date-input" placeholder="Purchase Date.." type="date">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Warranty</label>
                                <input class="form-control" formControlName="id" placeholder="Warranty.." > Months
                            </div>
                        </div>
                    </div>
            </div>

            <div class="card-footer">
                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i> Save</button>
                <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Cancel</button>
            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i>Machine Master Records
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Machine No</th>
                            <th>Machine Name</th>
                            <th>Description</th>
                            <th>Make</th>
                            <th>Capacity</th>
                            <th>Process</th>
                            <th>Purchase Date</th>
                            <th>Warranty</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Treatment 1</td>
                            <td>KG</td>
                            <td>Chemical</td>
                            <td>Chemical</td>
                            <td>Chemical</td>
                            <td>Chemical</td>
                            <td>Treatment 1</td>
                            <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Treatment 2</td>
                            <td>MM</td>
                            <td>Anodising</td>
                            <td>Anodising</td>
                            <td>Chemical</td>
                            <td>Chemical</td>
                            <td>Treatment 1</td>
                            <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>Treatment 3</td>
                            <td>CM</td>
                            <td>Paint</td>
                            <td>Paint</td>
                            <td>Chemical</td>
                            <td>Chemical</td>
                            <td>Treatment 1</td>
                            <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                        </tr>
                        <tr>
                            <td>04</td>
                            <td>Treatment 4</td>
                            <td>Meter</td>
                            <td>Sorting</td>
                            <td>Sorting</td>
                            <td>Chemical</td>
                            <td>Chemical</td>
                            <td>Treatment 1</td>
                            <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                        </tr>
                        <tr>
                            <td>05</td>
                            <td>Treatment 5</td>
                            <td>Ltr</td>
                            <td>Retranfer</td>
                            <td>Retranfer</td>
                            <td>Chemical</td>
                            <td>Chemical</td>
                            <td>Treatment 1</td>
                            <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>



   
</div>


