<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i><strong>Machine Master</strong> 
            </div>
            <form [formGroup] = "MachineForm">
            <div class="card-body">

                    <div class="row">
                            <div class="col-sm-6">
                                <div class="row"> 
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                                <label>Machine No.</label>
                                                <input class="form-control" formControlName="id" placeholder="Machine No.." readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                                <label>Machine Name *</label>
                                                <input class="form-control" formControlName="Machine_name" placeholder="Machine Name..">
                                        </div>
                                    </div>
                                </div>

                                <div class="row"> 
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Description </label>
                                            <input class="form-control" formControlName="Description" placeholder="Description..">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                    <label>Select Photo</label>
                                    <!-- <input class="form-control" id="file-input" type="file"> -->
                                    <input type="file" name="photo"  (change)="onSelectFile($event)" ng2FileSelect [uploader]="uploader" formControlName="image" />
                                    <br>
                                    <img [src]="url" style="width:200px;margin-top: 5px; border-radius: 4px;">
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-success" (click)="uploader.uploadAll()">Upload File</button>
                            </div>
                    </div>

                
                    <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Process </label>
                                    <select class="form-control" formControlName="process" required>
                                        <option value="0" selected disabled>Select Process</option>
                                        <option value="1">Val 1</option>
                                        <option value="2">Val 2</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Make </label>
                                    <input class="form-control" formControlName="Make" placeholder="Make..">
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Capacity </label>
                                    <input class="form-control" formControlName="capacity" placeholder="Capacity..">
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Purchase Date</label>
                                    <input class="form-control" id="date-input" formControlName="pur_date" placeholder="Purchase Date.." type="date">
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Warranty (In Months)</label>
                                    <input class="form-control" formControlName="Warranty" placeholder="Warranty.." > 
                                </div>
                            </div>
                    </div>
            </div>

            <div class="card-footer">
                <button *ngIf="submitShow"class="btn btn-sm btn-primary" type="submit" (click)="submitData();"><i class="fa fa-dot-circle-o"></i> Save</button>
                <button *ngIf="updateShow"class="btn btn-sm btn-primary" type="submit" (click)="updateData()"><i class="fa fa-dot-circle-o"></i> Update</button>

                <button class="btn btn-sm btn-danger" type="submit" (click)="CancelData()"><i class="fa fa-ban" ></i> Cancel</button>
            </div>
            </form>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i><strong> Records </strong>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Machine No</th>
                            <th>Machine Name</th>
                            <th>Description</th>
                            <th>Make</th>
                            <th>Capacity</th>
                            <th>Process</th>
                            <th>Purchase Date</th>
                            <th>Warranty</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of machineData;let i = index;">
                            <td>{{i+1}}</td>
                            <td>{{data.machine_name}}</td>
                            <td>{{data.description}}</td>
                            <td>{{data.make}}</td>
                            <td>{{data.capacity}}</td>
                            <td>{{data.process}}</td>
                            <td>{{data.purchase_date}}</td>
                            <td>{{data.warranty}}</td>
                            <td><span><button class="btn btn-success" (click)="editMachine(data.machine_id)">Edit</button></span> <span><button class="btn btn-danger" (click)="deleteMachine(data.machine_id)">Delete</button></span></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>



   
</div>


