<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Job Master</strong> 
                </div>
                <div class="card-body">
                    <form action="" method="post" novalidate="" class="ng-untouched ng-pristine ng-valid">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Job No.</label>
                                    <input class="form-control"  name="" placeholder="Job No..">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Art No</label>
                                    <input class="form-control"  name="" placeholder="Art No..">
                                </div>
                            </div>
                        </div>
            
                       
                    
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Job Name</label>
                                    <input class="form-control"  name="" placeholder="Job Name..">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>HSN No</label>
                                    <input class="form-control"  name="" placeholder="HSN No..">
                                </div>
                            </div>
                        </div>

         

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" id="textarea-input" name="textarea-input" placeholder="Description.." rows="2"></textarea>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Opening Stock</label>
                                    <input class="form-control"  name="" placeholder="Opening Stock..">
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Min Level</label>
                                    <input class="form-control"  name="" placeholder="Min Level..">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Max Level</label>
                                    <input class="form-control"  name="" placeholder="Max Level..">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Rate</label>
                                    <input class="form-control"  name="" placeholder="Rate..">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>CGST %</label>
                                    <input class="form-control"  name="" placeholder="CGST..">
                                </div>
                            </div>
        
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>SGST %</label>
                                    <input class="form-control"  name="" placeholder="SGST..">
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>IGST %</label>
                                    <input class="form-control"  name="" placeholder="IGST..">
                                </div>
                            </div>
    
                        </div>

                    </form>
                </div>

                

    
                <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i> Save</button>
                    <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Cancel</button>
                </div>
            </div>
        </div>
    
    
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>Job Master Records
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Job No.</th>
                                <th>Art No.</th>
                                <th>Job Name</th>
                                <th>HSN No</th>
                                <th>Description</th>
                                <th>Opening Stock</th>
                                <th>Min Level</th>
                                <th>Max Level</th>
                                <th>Rate</th>
                                <th>CGST</th>
                                <th>SGST</th>
                                <th>IGST</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>Treatment 1</td>
                                <td>KG</td>
                                <td>Chemical</td>
                                <td>Chemical</td>
                                <td>01</td>
                                <td>Treatment 1</td>
                                <td>KG</td>
                                <td>Chemical</td>
                                <td>Chemical</td>
                                <td>Treatment 1</td>
                                <td>KG</td>
                                <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>Treatment 2</td>
                                <td>MM</td>
                                <td>Anodising</td>
                                <td>Anodising</td>
                                <td>01</td>
                                <td>Treatment 1</td>
                                <td>KG</td>
                                <td>Chemical</td>
                                <td>Chemical</td>
                                <td>Treatment 1</td>
                                <td>KG</td>
                                <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>Treatment 3</td>
                                <td>CM</td>
                                <td>Paint</td>
                                <td>Paint</td>
                                <td>01</td>
                                <td>Treatment 1</td>
                                <td>KG</td>
                                <td>Chemical</td>
                                <td>Chemical</td>
                                <td>Treatment 1</td>
                                <td>KG</td>
                                <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                            </tr>
                            <tr>
                                <td>04</td>
                                <td>Treatment 4</td>
                                <td>Meter</td>
                                <td>Sorting</td>
                                <td>Sorting</td>
                                <td>01</td>
                                <td>Treatment 1</td>
                                <td>KG</td>
                                <td>Chemical</td>
                                <td>Chemical</td>
                                <td>Treatment 1</td>
                                <td>KG</td>
                                <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                            </tr>
                            <tr>
                                <td>05</td>
                                <td>Treatment 5</td>
                                <td>Ltr</td>
                                <td>Retranfer</td>
                                <td>Retranfer</td>
                                <td>01</td>
                                <td>Treatment 1</td>
                                <td>KG</td>
                                <td>Chemical</td>
                                <td>Chemical</td>
                                <td>Treatment 1</td>
                                <td>KG</td>
                                <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    
    
    
       
    </div>
    
    
    