<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Job Master</strong> 
                </div>
                <form [formGroup]="jobForm" >
                <div class="card-body">
                    <!-- <form action="" method="post" novalidate="" class="ng-untouched ng-pristine ng-valid"> -->
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Job No.</label>
                                    <input class="form-control" formControlName="id" placeholder="Job No.." readonly>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Art No</label>
                                    <input class="form-control" formControlName="ArtNo"   placeholder="Art No.." required>
                                    <div *ngIf="ArtNo.invalid && (ArtNo.dirty || ArtNo.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="ArtNo.errors.required">
                                            Art No is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                       
                    
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Job Name</label>
                                    <input class="form-control" formControlName="JobName"  placeholder="Job Name.." required>
                                    <div *ngIf="JobName.invalid && (JobName.dirty || JobName.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="JobName.errors.required">
                                            Job Name is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>HSN No</label>
                                    <input class="form-control" formControlName="HSN"  placeholder="HSN No..">
                                </div>
                            </div>
                        </div>

         

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" id="textarea-input" formControlName="description" placeholder="Description.." rows="2"></textarea>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Opening Stock</label>
                                    <input class="form-control" formControlName="openStock"   placeholder="Opening Stock.." required>
                                    <div *ngIf="openStock.invalid && (openStock.dirty || openStock.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="openStock.errors.required">
                                            Open Stock is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Min Level</label>
                                    <input class="form-control"  formControlName="MinStock"  placeholder="Min Level..">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Max Level</label>
                                    <input class="form-control" formControlName="MaxStock"   placeholder="Max Level..">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Rate</label>
                                    <input class="form-control" formControlName="Rate"   placeholder="Rate..">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>CGST %</label>
                                    <input class="form-control" formControlName="cgst"  placeholder="CGST..">
                                </div>
                            </div>
        
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>SGST %</label>
                                    <input class="form-control" formControlName="sgst"  placeholder="SGST..">
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>IGST %</label>
                                    <input class="form-control" formControlName="igst"  placeholder="IGST..">
                                </div>
                            </div>
    
                        </div>

                    <!-- </form> -->
                </div>

                

    
                <div class="card-footer">
                    <button *ngIf="submitShow" class="btn btn-sm btn-primary" type="submit" [disabled]="!jobForm.valid" (click)="submitData()"><i class="fa fa-dot-circle-o"></i> Save</button>
                    <button *ngIf="updateShow" class="btn btn-sm btn-primary" type="submit" [disabled]="!jobForm.valid" (click)="updateData()"><i class="fa fa-dot-circle-o"></i> Update</button>
                    <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Cancel</button>
                </div>
                </form> 
            </div>
        </div>
    
    
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>Job Master Records
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Job No.</th>
                                <th>Art No.</th>
                                <th>Job Name</th>
                                <th>HSN No</th>
                                <th>Description</th>
                                <th>Opening Stock</th>
                                <th>Min Level</th>
                                <th>Max Level</th>
                                <th>Rate</th>
                                <th>CGST</th>
                                <th>SGST</th>
                                <th>IGST</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of jobArray; let i=index;">
                                <td>{{i+1}}</td>
                                <td>{{data.art_no}}</td>
                                <td>{{data.job_name }}</td>
                                <td>{{data.hsn}}</td>
                                <td>{{data.description}}</td>
                                <td>{{data.open_stock}}</td>
                                <td>{{data.min_stock}}</td>
                                <td>{{data.max_stock}}</td>
                                <td>{{data.rate}}</td>
                                <td>{{data.cgst}}</td>
                                <td>{{data.sgst}}</td>
                                <td>{{data.igst}}</td>
                                <td><span><button class="btn btn-success"(click)="editUnit(data.id)" >Edit</button></span> <span><button class="btn btn-danger" (click)="deleteUnit(data.id)">Delete</button></span></td>
                            </tr>
                           
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    
    
    
       
    </div>
    
    
    