<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Surface Treatment Master</strong> 
            </div>
            <div class="card-body">
                <form action="" method="post" novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <div class="form-group">
                        <label>Surface Treatment No.</label>
                        <input class="form-control"  name="" placeholder="Treatment No..">
                    </div>
                    <div class="form-group">
                        <label>Surface Treatment *</label>
                        <input class="form-control"  name="" placeholder="Surface Treatment..">
                    </div>
                    <div class="form-group">
                        <label>Unit In </label>
                        <select class="form-control" id="select1" name="select1">
                            <option value="0">Select Unit In</option>
                            <option value="1">Option #1</option>
                            <option value="2">Option #2</option>
                            <option value="3">Option #3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Purchase Rate </label>
                        <input class="form-control"  name="" placeholder="Enter Purchase Rate..">
                    </div>
                    <div class="form-group">
                        <label>Sale Rate </label>
                        <input class="form-control"  name="" placeholder="Enter Sale Rate..">
                    </div>
                </form>
            </div>

            <div class="card-footer">
                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i> Save</button>
                <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Cancel</button>
            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i>Surface Treatment Master Records
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Surface Treatment No</th>
                            <th>Surface Treatment</th>
                            <th>Unit In</th>
                            <th>Purchase Rate</th>
                            <th>Sale Rate</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Treatment 1</td>
                            <td>KG</td>
                            <td>Chemical</td>
                            <td>Chemical</td>
                            <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Treatment 2</td>
                            <td>MM</td>
                            <td>Anodising</td>
                            <td>Anodising</td>
                            <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>Treatment 3</td>
                            <td>CM</td>
                            <td>Paint</td>
                            <td>Paint</td>
                            <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                        </tr>
                        <tr>
                            <td>04</td>
                            <td>Treatment 4</td>
                            <td>Meter</td>
                            <td>Sorting</td>
                            <td>Sorting</td>
                            <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                        </tr>
                        <tr>
                            <td>05</td>
                            <td>Treatment 5</td>
                            <td>Ltr</td>
                            <td>Retranfer</td>
                            <td>Retranfer</td>
                            <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>



   
</div>


