<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i><strong>Surface Treatment Master</strong> 
            </div>
            <form [formGroup]="surfaceForm">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Surface Treatment No.</label>
                            <input class="form-control" formControlName="id" placeholder="Treatment No.." readonly>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Surface Treatment *</label>
                            <input class="form-control"  formControlName="surfaceName" placeholder="Surface Treatment.." required>
                            <div *ngIf="surfaceName.invalid && (surfaceName.dirty || surfaceName.touched)"class="alert alert-danger">
                                <div *ngIf="surfaceName.errors.required">
                                    Surface Name is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Unit In </label>
                            <select class="form-control" formControlName="unit" required>
                                <option *ngFor="let data of unitArray" value="{{data.id}}">{{data.unit}}</option>
                            </select>
                            <div *ngIf="unit.invalid && (unit.dirty || unit.touched)"class="alert alert-danger">
                                <div *ngIf="unit.errors.required">
                                    Unit is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Purchase Rate </label>
                            <input class="form-control" formControlName="pur_rate" placeholder="Enter Purchase Rate.." required>
                            <div *ngIf="pur_rate.invalid && (pur_rate.dirty || pur_rate.touched)"class="alert alert-danger">
                                <div *ngIf="pur_rate.errors.required">
                                    Purchase rate is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Sale Rate </label>
                            <input class="form-control"  formControlName="sale_rate" placeholder="Enter Sale Rate.." required>
                            <div *ngIf="sale_rate.invalid && (sale_rate.dirty || sale_rate.touched)"class="alert alert-danger">
                                <div *ngIf="sale_rate.errors.required">
                                Sales rate is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </form> -->
            </div>

            <div class="card-footer">
                <button *ngIf="submitShow" class="btn btn-sm btn-primary" type="submit" [disabled]="!surfaceForm.valid" (click)="submitData()"><i class="fa fa-dot-circle-o"></i> Save</button>
                <button *ngIf="updateShow" class="btn btn-sm btn-primary" type="submit" [disabled]="!surfaceForm.valid" (click)="updateData()"><i class="fa fa-dot-circle-o"></i>Update</button>

                <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Cancel</button>
            </div>
            </form>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i><strong>Records</strong> 
            </div>
            <div class="card-body">
                <!-- <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Surface Treatment No</th>
                            <th>Surface Treatment</th>
                            <th>Unit In</th>
                            <th>Purchase Rate</th>
                            <th>Sale Rate</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of surfaceArray;let i = index;">
                            <td>{{i +1}}</td>
                            <td>{{data.surface_treatment}}</td>
                            <td>{{data.unit_in}}</td>
                            <td>{{data.purchase_rate}}</td>
                            <td>{{data.sale_rate}}</td>
                            <td><span><button class="btn btn-success" (click)="editSurface(data.id)">Edit</button></span> <span><button class="btn btn-danger" (click)="deleteSurface(data.id)">Delete</button></span></td>
                        </tr>
                        
                    </tbody>
                </table> -->
                

                
                <ngx-datatable
                class="material striped"
                [rows]="surfaceArray"
                
                [columnMode]="'force'"
                [headerHeight]="40"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [externalSorting]="true"
              >
                
                <ngx-datatable-column>
                    <ng-template let-column="column"let-sort="sortFn" ngx-datatable-header-template>
                        Surface Treatment No
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.id}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        Surface Treatment
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.surface_treatment}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        Unit In
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.unit_in}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        Purchase Rate
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.purchase_rate}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        Sale Rate
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.sale_rate}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template let-column="column" ngx-datatable-header-template>
                        Action
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span><i class="fa fa-trash" style="color:red"aria-hidden="true" (click)="deleteSurface(row.id)"></i><i class="fa fa-pencil" style="color:blue;margin-left:10px" (click)="editSurface(row.id)" aria-hidden="true"></i></span>
                    </ng-template>
                </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>



   
</div>


