<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Surface Treatment Master</strong> 
            </div>
            <form [formGroup]="surfaceForm">
            <div class="card-body">
               
                    <div class="form-group">
                        <label>Surface Treatment No.</label>
                        <input class="form-control" formControlName="id" placeholder="Treatment No.." readonly>
                    </div>
                    <div class="form-group">
                        <label>Surface Treatment *</label>
                        <input class="form-control"  formControlName="surfaceName" placeholder="Surface Treatment.." required>
                        <div *ngIf="surfaceName.invalid && (surfaceName.dirty || surfaceName.touched)"class="alert alert-danger">
                            <div *ngIf="surfaceName.errors.required">
                                Surface Name is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Unit In </label>
                        <select class="form-control" formControlName="unit" required>
                            <option *ngFor="let data of unitArray" value="{{data.id}}">{{data.unit}}</option>
                        </select>
                        <div *ngIf="unit.invalid && (unit.dirty || unit.touched)"class="alert alert-danger">
                            <div *ngIf="unit.errors.required">
                                Unit is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Purchase Rate </label>
                        <input class="form-control" formControlName="pur_rate" placeholder="Enter Purchase Rate.." required>
                        <div *ngIf="pur_rate.invalid && (pur_rate.dirty || pur_rate.touched)"class="alert alert-danger">
                            <div *ngIf="pur_rate.errors.required">
                                Purchase rate is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Sale Rate </label>
                        <input class="form-control"  formControlName="sale_rate" placeholder="Enter Sale Rate.." required>
                        <div *ngIf="sale_rate.invalid && (sale_rate.dirty || sale_rate.touched)"class="alert alert-danger">
                            <div *ngIf="sale_rate.errors.required">
                               Sales rate is required.
                            </div>
                        </div>
                    </div>
                <!-- </form> -->
            </div>

            <div class="card-footer">
                <button *ngIf="submitShow" class="btn btn-sm btn-primary" type="submit" [disabled]="!surfaceForm.valid" (click)="submitData()"><i class="fa fa-dot-circle-o"></i> Save</button>
                <button *ngIf="updateShow" class="btn btn-sm btn-primary" type="submit" [disabled]="!surfaceForm.valid" (click)="updateData()"><i class="fa fa-dot-circle-o"></i>Update</button>

                <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Cancel</button>
            </div>
            </form>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i>Surface Treatment Master Records
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Surface Treatment No</th>
                            <th>Surface Treatment</th>
                            <th>Unit In</th>
                            <th>Purchase Rate</th>
                            <th>Sale Rate</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of surfaceArray;let i = index;">
                            <td>{{i +1}}</td>
                            <td>{{data.surface_treatment}}</td>
                            <td>{{data.unit_in}}</td>
                            <td>{{data.purchase_rate}}</td>
                            <td>{{data.sale_rate}}</td>
                            <td><span><button class="btn btn-success" (click)="editSurface(data.id)">Edit</button></span> <span><button class="btn btn-danger" (click)="deleteSurface(data.id)">Delete</button></span></td>
                        </tr>
                        
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>



   
</div>


