<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> <strong>Party Master </strong> 
            </div>
            <!-- <form [formGroup]="partyForm"> -->
            <form [formGroup]="partyForm">
            <div class="card-body">
               
                        <div class="row">
                            <div class="col-md-3"> 
                                <div class="form-group">
                                    <label>Party Type</label>
                                    <input type="hidden" formControlName="id">
                                    <br>
                                    <input type="radio" formControlName="Customer" name="customer" value="1"  style="margin-top: 8px;" checked> Supplier
                                    &nbsp;&nbsp;
                                    <input type="radio" formControlName="Customer" name="customer" value="2" style="margin-top: 8px;"> Customer
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Party Name</label>
                                    <input class="form-control" formControlName="ptName"  placeholder="Party Name.." required>
                                </div>
                            </div>
        
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" formControlName="address" placeholder="Address.." rows="1" required></textarea>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input class="form-control" formControlName="phone"  placeholder="Phone No.." required>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Mobile No 1</label>
                                    <input class="form-control" formControlName="mob1"  placeholder="Mobile No 1.." required>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Mobile No 2</label>
                                    <input class="form-control" formControlName="mob2"  placeholder="Mobile No 2..">
                                </div>
                            </div>
                 
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>FAX</label>
                                    <input class="form-control" formControlName="fax"  placeholder="FAX..">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>GST No</label>
                                    <input class="form-control" formControlName="gst"  placeholder="GST No.." required>
                                </div>
                            </div>
                        </div>

               
            </div>

            <div class="card-footer">
                <button class="btn btn-sm btn-primary" *ngIf="submitShow" type="submit" [disabled]="!partyForm.valid" (click)="submitData()"><i class="fa fa-dot-circle-o"></i> Save</button>
                <button class="btn btn-sm btn-primary" *ngIf="updateShow" type="submit" [disabled]="!partyForm.valid" (click)="updateData()"><i class="fa fa-dot-circle-o"></i> Update</button>

                <button class="btn btn-sm btn-danger" type="reset" ><i class="fa fa-ban"></i> Cancel</button>
            </div>
        </form>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> <strong>Records</strong>
            </div>
            <div class="card-body">
                <!-- <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Party Type</th>
                            <th>Party Name</th>
                            <th>Address</th>
                            <th>Mobile 1</th>
                            <th>Mobile 2</th>
                            <th>Phone</th>
                            <th>FAX</th>
                            <th>GST No</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of partyData;let i = index">
                            <td>{{data.party_type_name}}</td>
                            <td>{{data.party_name}}</td>
                            <td>{{data.address}}</td>
                            <td>{{data.mobile_1}}</td>
                            <td>{{data.mobile_2}}</td>
                            <td>{{data.phone}}</td>
                            <td>{{data.fax}}</td>
                            <td>{{data.gst}}</td>
                            <td><span ><button class="btn btn-success" (click)="editPartyData(data.party_id)" >Edit</button></span> <span></span><button class="btn btn-danger" (click)="deletePartyData(data.party_id)">Delete</button></td>
                        </tr>
                        
                    </tbody>
                </table>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul> -->

                <!-- <ngx-datatable
                class="material striped"
                [rows]="partyData"
                [columns]="columns"
                [columnMode]="'force'"
                [headerHeight]="40"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [externalSorting]="true"
                [loadingIndicator]="loading"
                (sort)="onSort($event)"> -->
                <ngx-datatable
                    class="material striped"
                    [rows]="partyData"
                    [columnMode]="'force'"
                    [headerHeight]="40"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [externalSorting]="true">
                
                <ngx-datatable-column>
                    <ng-template let-column="column"let-sort="sortFn" ngx-datatable-header-template>
                        Party Type
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.party_type_name}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        Party Name
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.party_name}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template let-column="column"let-sort="sortFn" ngx-datatable-header-template>
                        Address
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.address}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        Mobile 1
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.mobile_1}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template let-column="column"let-sort="sortFn" ngx-datatable-header-template>
                        Mobile 2
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.mobile_2}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        Phone
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.Phone}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template let-column="column"let-sort="sortFn" ngx-datatable-header-template>
                        Fax
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.fax}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        GST ID
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.gst}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template let-column="column" ngx-datatable-header-template>
                        Action
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span><i class="fa fa-trash" style="color:red"aria-hidden="true" (click)="deletePartyData(row.party_id)"></i><i class="fa fa-pencil" style="color:blue;margin-left:10px" (click)="editPartyData(row.party_id)" aria-hidden="true"></i></span>
                    </ng-template>
                </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>



   
</div>


