<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> <strong>Party Master </strong> 
            </div>
            <div class="card-body">
                <form>
                        <div class="row">
                            <div class="col-md-3"> 
                                <div class="form-group">
                                    <label>Party Type</label>
                                    <br>
                                    <input type="radio" name="" style="margin-top: 8px;"> Supplier
                                    &nbsp;&nbsp;
                                    <input type="radio" name="" style="margin-top: 8px;"> Customer
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Party Name</label>
                                    <input class="form-control" formControlName="ptName"  placeholder="Party Name..">
                                </div>
                            </div>
        
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" formControlName="address" placeholder="Address.." rows="1"></textarea>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input class="form-control" formControlName="phone"  placeholder="Phone No..">
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Mobile No 1</label>
                                    <input class="form-control" formControlName="mob1"  placeholder="Mobile No 1..">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Mobile No 2</label>
                                    <input class="form-control" formControlName="mob2"  placeholder="Mobile No 2..">
                                </div>
                            </div>
                 
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>FAX</label>
                                    <input class="form-control" formControlName="fax"  placeholder="FAX..">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>GST No</label>
                                    <input class="form-control" formControlName="gst"  placeholder="GST No..">
                                </div>
                            </div>
                        </div>

                </form>
            </div>

            <div class="card-footer">
                <button   class="btn btn-sm btn-primary"  type="submit"><i class="fa fa-dot-circle-o"></i> Save</button>
                <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Cancel</button>
            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> <strong>Records</strong>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Party Type</th>
                            <th>Party Name</th>
                            <th>Address</th>
                            <th>Mobile 1</th>
                            <th>Mobile 2</th>
                            <th>Phone</th>
                            <th>FAX</th>
                            <th>GST No</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span ><button class="btn btn-success" >Edit</button></span> <span></span><button class="btn btn-danger" >Delete</button></td>
                        </tr>
                        
                    </tbody>
                </table>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>



   
</div>


