<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Job Process Master</strong>  
            </div>
            <div class="card-body">
                <form action="" method="post" novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <div class="form-group">
                        <label>Entry No.</label>
                        <input class="form-control"  name="" placeholder="Entry No..">
                    </div>
                    <div class="form-group">
                        <label>Process Name * </label>
                        <input class="form-control"  name="" placeholder="Enter Process Name..">
                    </div>
                    <div class="form-group">
                        <label>Process Place * </label>
                        <select class="form-control" id="select1" name="select1">
                            <option value="0">Select Process Place</option>
                            <option value="1">Inside</option>
                            <option value="2">Outside</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="card-footer">
                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i> Save</button>
                <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Cancel</button>
            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Job Process Master Records
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Entry No.</th>
                            <th>Process Name</th>
                            <th>Process Place</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Process 1</td>
                            <td>Inside</td>
                            <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Process 2</td>
                            <td>Outside</td>
                            <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>Process 3</td>
                            <td>Inside</td>
                            <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                        </tr>
                        <tr>
                            <td>04</td>
                            <td>Process 4</td>
                            <td>Inside</td>
                            <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                        </tr>
                        <tr>
                            <td>05</td>
                            <td>Process 5</td>
                            <td>Outside</td>
                            <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>



   
</div>


