<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i><strong>Job Process Master</strong>  
            </div>
            <form [formGroup]="jobProcess">
            <div class="card-body">
                <!-- <form action="" method="post" novalidate="" class="ng-untouched ng-pristine ng-valid"> -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Entry No.</label>
                            <input class="form-control"formControlName="id" placeholder="Entry No.." readonly>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Process Name * </label>
                            <input class="form-control"formControlName="process_name" placeholder="Enter Process Name.." required>
                            <div *ngIf="process_name.invalid && (process_name.dirty || process_name.touched)"class="alert alert-danger">
                                <div *ngIf="process_name.errors.required">
                                    Process Name is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Process Place * </label>
                            <select class="form-control" formControlName="process_place" required>
                                <option value="0" selected disabled>Select Process Place</option>
                                <option value="1">Inside</option>
                                <option value="2">Outside</option>
                            </select>
                            <div *ngIf="process_place.invalid && (process_place.dirty || process_place.touched)"class="alert alert-danger">
                                <div *ngIf="process_place.errors.required">
                                    Process place is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </form> -->
            </div>

            <div class="card-footer">
                <button *ngIf="submitShow" class="btn btn-sm btn-primary" [disabled]="!jobProcess.valid" type="submit" (click)="submitData()"><i class="fa fa-dot-circle-o"></i> Save</button>
                <button *ngIf="updateShow"class="btn btn-sm btn-primary" [disabled]="!jobProcess.valid" type="submit" (click)="updateData()"><i class="fa fa-dot-circle-o"></i> Update</button>
                <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Cancel</button>
            </div>
            </form>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i><strong>Records</strong>  
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Entry No.</th>
                            <th>Process Name</th>
                            <th>Process Place</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of jobArray;let i=index">
                            <td>{{i+1}}</td>
                            <td>{{data.process_name}}</td>
                            <td>{{data.process_place}}</td>
                            <td><span><button class="btn btn-success"(click)="editUnit(data.id)" >Edit</button></span> <span><button class="btn btn-danger" (click)="deleteUnit(data.id)">Delete</button></span></td>
                        </tr>
                        
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>



   
</div>


