<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Shade</strong> Master 
                </div>
                <div class="card-body">
                    <form action="" method="post" novalidate="" class="ng-untouched ng-pristine ng-valid">
                        <div class="form-group">
                            <label>Shade No.</label>
                            <input class="form-control"  name="" placeholder="Shade No..">
                        </div>
                        <div class="form-group">
                            <label>Shade Name * </label>
                            <input class="form-control"  name="" placeholder="Enter Shade Name..">
                        </div>
                        <div class="form-group">
                            <label>Process For </label>
                            <input class="form-control"  name="" placeholder="Enter Process For..">
                        </div>
                    </form>
                </div>
    
                <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i> Save</button>
                    <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Cancel</button>
                </div>
            </div>
        </div>
    
    
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Shade Master Records
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Shade No.</th>
                                <th>Shade Name</th>
                                <th>Process For</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>Pink</td>
                                <td>Chemical</td>
                                <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>Red</td>
                                <td>Anodising</td>
                                <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>Black</td>
                                <td>Paint</td>
                                <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                            </tr>
                            <tr>
                                <td>04</td>
                                <td>Green</td>
                                <td>Sorting</td>
                                <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                            </tr>
                            <tr>
                                <td>05</td>
                                <td>Yellow</td>
                                <td>Retranfer</td>
                                <td><span class="badge badge-success">EDIT</span> <span class="badge badge-danger">DELETE</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
    
    
       
    </div>
    
    
    