<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i><strong>Shade Master</strong>  
                </div>
                <form [formGroup]="shadeForm">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Shade No.</label>
                                    <input class="form-control" formControlName="id"  name="" placeholder="Shade No.." readonly>
                                </div>
                            </div>
                            <div class="col-sm-3"> 
                                <div class="form-group">
                                    <label>Shade Name * </label>
                                    <input class="form-control" formControlName="shade"  name="" placeholder="Enter Shade Name.." required>
                                    <div *ngIf="shade.invalid && (shade.dirty || shade.touched)"class="alert alert-danger">
                                        <div *ngIf="shade.errors.required">
                                            shade is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3"> 
                                <div class="form-group">
                                    <label>Process For </label>
                                    <input class="form-control" formControlName="process"  name="" placeholder="Enter Process For.." required>
                                    <div *ngIf="process.invalid && (process.dirty || process.touched)"class="alert alert-danger">
                                        <div *ngIf="process.errors.required">
                                            process is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-footer">
                        <button *ngIf="submitShow" [disabled]="!shadeForm.valid" class="btn btn-sm btn-primary" type="submit" (click)="submitData()"><i class="fa fa-dot-circle-o"></i> Save</button>
                        <button *ngIf="updateShow" class="btn btn-sm btn-primary" type="submit" (click)="updateData()"><i class="fa fa-dot-circle-o"></i> Update</button>
                        <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Cancel</button>
                    </div>
                 </form>
            </div>
        </div>
    
    
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i><strong>Records</strong>  
                </div>
                <div class="card-body">
                    <!-- <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Shade No.</th>
                                <th>Shade Name</th>
                                <th>Process For</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of shadeArray; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{data.shade_name}}</td>
                                <td>{{data.process_for}}</td>
                                <td><span><button class="btn btn-success" (click)="editUnit(data.id)">Edit</button></span> <span><button class="btn btn-danger" (click)="deleteUnit(data.id)">Delete</button></span></td>
                            </tr>
                            
                        </tbody>
                    </table> -->

                    <ngx-datatable
                    class="material striped"
                    [rows]="shadeArray"
                    
                    [columnMode]="'force'"
                    [headerHeight]="40"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [externalSorting]="true"
                  >
                    
                    <ngx-datatable-column>
                        <ng-template let-column="column"let-sort="sortFn" ngx-datatable-header-template>
                            Shade No.
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.id}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            Shade Name
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.shade_name}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            Process For
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.process_for}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template let-column="column" ngx-datatable-header-template>
                            Action
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span><i class="fa fa-trash" style="color:red"aria-hidden="true" (click)="deleteUnit(row.id)"></i><i class="fa fa-pencil" style="color:blue;margin-left:10px" (click)="editUnit(row.id)" aria-hidden="true"></i></span>
                        </ng-template>
                    </ngx-datatable-column>
                    </ngx-datatable>
                    <!-- <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    
    
    
       
    </div>
    
    
    