// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

@font-face {
    font-family: myFirstFont;
    src: url(../assets/font/RobotoCondensed-Regular.ttf);
  }
  *{
      font-family: myFirstFont;
      font-size: 15px;
  }